<%= form_for(@micropost, :html => {:name => 'microposts'}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area(:content, :onkeydown => "micropost_textcounter(" << micropost_maxlen << ")",
                                :onkeyup => "micropost_textcounter(" << micropost_maxlen << ")") %>
    <%= text_field_tag 'counter', micropost_maxlen, :size => 3, :maxlength => 3, :readonly => true %>
    characters left<br>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>